/* Base reset */
* {
    margin: 0;
    padding: 0;
    color: #E9EEF2;
    text-decoration: none;
  }
  body {
      width: 100%;
      background-color: #2A3950;
  }
/* Base colors */

/* Header */

#nav-bar {
    display: flex;
    background-color: #326789;
    position: fixed;
    width: 100%;
    font-family: 'Lalezar', cursive;
    font-size: 1.2rem;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    
}

#nav {
    display: flex;
    flex-direction: row;
    justify-self: flex-end; 
}
.push {
    margin-left: auto;
}

#nav li {
    list-style: none;
}
#nav a {
    display: block;
    padding: 1.5rem;
}
#nav li:hover {
    background-color: #E65C4F;
    cursor: pointer;
}
#logo-img {
    width: 35px;
    margin-left: 30px;
}
#logo-text {
    margin: auto 25px;
    font-family: 'Lalezar', cursive;
    font-size: 1.4rem;
}
#welcome-section {
    padding-top: 50px;
    background-color: #2A3950;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Carter One', cursive;
}
#title {
    color: #E9EEF2;
    font-family: 'Lalezar', cursive;
    font-size: 7rem;
}
#highlight {
    color: #E65C4F;
}
.title-desc {
    font-size: 1.2rem;
}
#social-icons {
    margin-top: 20px;
    display: flex;
    list-style: none;
    flex-direction: row;
}
.icons:hover {
    transform: scale(1.15);
}
.icons {
    width: 1.7rem;
    margin: auto 10px;
}
#about-section {
    margin-top: 10px;
    width: 100%;
    min-height: 100vh;
    padding-top: 65px;
    background-color: #2A3950;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#about-me {
    display: flex;
}
#bio {
    align-self: center;
    margin-left: 100px;
}
#about-me img {
    height: 450px;
    border: 10px solid #326789;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7)
}
#about-me p {
    font-family: 'Lalezar', cursive;
    padding: 15px;
    font-size: 1.3rem;
}

#projects-section h1 {
    font-family: 'Lalezar', cursive;
    font-size: 3rem;
    margin-bottom: 40px;
}
#projects-section {
    margin-top: 10px;
    min-height: 100vh;
    background-color: #2A3950;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.project-grid {
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(450px, 1fr) );
    grid-gap: 70px;
}
.project-title {
    font-size: 1.3rem;
    padding: 1.2rem;
    text-align: center;
    background-color: #326789;
    font-family: 'Lalezar', cursive;
}

.project-img {
    object-fit: cover;
    height: 300px;
    width: 100%;
  }
.project-card  {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
    
}
.code {
    color:#E65C4F;
    opacity: 0.4;
    -webkit-animation: text-flicker-in-glow 4s infinite both;
	        animation: text-flicker-in-glow 4s infinite both;
  }


@media only screen and (max-width: 970px) {
    .project-grid {
        grid-template-columns: repeat( auto-fill, minmax(250px, 1fr) );
        grid-gap: 40px;
    }
    #nav {
        justify-content: center; 
    }
    .push {
        margin: auto;
    }
    #logo-text {
        display: none
    }
    #title {
        font-size: 5rem;
    }
    #logo-img {
        margin-left: 10px;
    }
    #about-me {
        flex-direction: column;
    }
    #nav a {
        padding: 15px;
        font-size: 1rem;
    }
    #logo-img {
        display: none;
    }
    #bio {
        margin: 0px;
        margin-top: 50px;
    }
    #about-me img {
        width: 70%;
        height: auto;
        margin: auto;
    }
}



/* ----------------------------------------------
 * Generated by Animista on 2019-12-26 0:17:25
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-flicker-in-glow
 * ----------------------------------------
 */
 @-webkit-keyframes text-flicker-in-glow {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 0;
      text-shadow: none;
    }
    10.1% {
      opacity: 1;
      text-shadow: none;
    }
    10.2% {
      opacity: 0;
      text-shadow: none;
    }
    20% {
      opacity: 0;
      text-shadow: none;
    }
    20.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
    }
    20.6% {
      opacity: 0;
      text-shadow: none;
    }
    30% {
      opacity: 0;
      text-shadow: none;
    }
    30.1% {
      opacity: 1;
      
    }
    30.5% {
      opacity: 1;
      
    }
    30.6% {
      opacity: 0;
      text-shadow: none;
    }
    45% {
      opacity: 0;
      text-shadow: none;
    }
    45.1% {
      opacity: 1;
      
    }
    50% {
      opacity: 1;
      
    }
    55% {
      opacity: 1;
      
    }
    55.1% {
      opacity: 0;
      text-shadow: none;
    }
    57% {
      opacity: 0;
      text-shadow: none;
    }
    57.1% {
      opacity: 1;
     
    }
    60% {
      opacity: 1;
      
    }
    60.1% {
      opacity: 0;
      text-shadow: none;
    }
    65% {
      opacity: 0;
      text-shadow: none;
    }
    65.1% {
      opacity: 1;
      
    }
    75% {
      opacity: 1;
      
    }
    75.1% {
      opacity: 0;
      text-shadow: none;
    }
    77% {
      opacity: 0;
      text-shadow: none;
    }
    77.1% {
      opacity: 1;
      
    }
    85% {
      opacity: 1;
      
    }
    85.1% {
      opacity: 0;
      text-shadow: none;
    }
    86% {
      opacity: 0;
      text-shadow: none;
    }
    86.1% {
      opacity: 1;
      
    }
    100% {
      opacity: 1;
      
    }
  }
  
  