/* Base reset */
* {
    margin: 0;
    padding: 0;
    color: #E9EEF2;
    text-decoration: none;
  }
  body {
      width: 100%;
      background-color: #2A3950;
  }
/* Base colors */

/* Header */

#nav-bar {
    display: flex;
    background-color: #326789;
    position: fixed;
    width: 100%;
    font-family: 'Lalezar', cursive;
    font-size: 1.2rem;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 5;
}

#nav {
    display: flex;
    flex-direction: row;
    justify-self: flex-end; 
}
.push {
    margin-left: auto;
}

#nav li {
    list-style: none;
}
#nav a {
    display: block;
    padding: 1.5rem;
}
#nav li:hover {
    background-color: #E65C4F;
    cursor: pointer;
}
#logo-img {
    width: 35px;
    margin-left: 30px;
}
#logo-text {
    margin: auto 25px;
    font-family: 'Lalezar', cursive;
    font-size: 1.4rem;
}
#welcome-section {
    padding-top: 50px;
    background-color: #2A3950;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Carter One', cursive;
}
#title {
    color: #E9EEF2;
    font-family: 'Lalezar', cursive;
    font-size: 7rem;
}
#highlight {
    color: #E65C4F;
}
#welcome-section h2 {
    border-right: .15em solid orange;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1.5rem;
  }
#social-icons {
    margin-top: 20px;
    display: flex;
    list-style: none;
    flex-direction: row;
}
.icons:hover {
    transform: scale(1.15);
}
.icons {
    width: 1.7rem;
    margin: auto 10px;
}
.icons2 {
    width: 2.1rem;
    margin: auto 10px;
}
#about-section {
    width: 100%;
    min-height: 100vh;
    padding-top: 65px;
    background-color: #2A3950;
    display: flex;
    flex-direction: column;
}
#about-me {
    display: flex;
    margin: auto;
    justify-content: center;
}
#bio {
    width: 50%;
    align-self: center;
    margin-left: 100px;
    
}
#about-me img {
    height: 450px;
    border: 10px solid #326789;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
    justify-self: center;
}
#about-me p {
    font-family: 'Lalezar', cursive;
    padding: 15px;
    font-size: 1.3rem;
    text-align: left;
}

#projects-section h1 {
    font-family: 'Lalezar', cursive;
    font-size: 3rem;
    margin-bottom: 40px;
}
#projects-section {
    margin-top: 10px;
    min-height: 100vh;
    background-color: #2A3950;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.project-grid {
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(450px, 1fr) );
    grid-gap: 70px;
}
.project-title {
    font-size: 1.3rem;
    padding: 1.2rem;
    text-align: center;
    background-color: #326789;
    font-family: 'Lalezar', cursive;
}

.project-img {
    object-fit: cover;
    height: 300px;
    width: 100%;
  }
.project-card  {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
    
}
#footer-content {
    margin-top: 50px;
    min-height: 5vh;
    background-color: #326789;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10px;
}
#footer-content p {
    align-self: center;
    padding: 20px;
    font-family: 'Lalezar', cursive;
    font-size: 1.2rem;
}
#contact-section {
    margin-top: 5%;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    font-family: 'Lalezar', cursive;
}
#contact-form {
    background-color: #326789;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
    width: 35%;
    height: 600px;
    align-self: center;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items:  center;
}
#send-msg {
    background-color: #E65C4F;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
    width: 20%;
    height: 450px;
    align-self: center;
    z-index: 4;
    margin-right: -5%;
}
#form-container {
    display: flex;
    flex-direction: column;
    font-family: 'Lalezar', cursive;
    margin-left: 5%;
}
#send-msg-desktop {
    display: none;
    background-color: #E65C4F;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
    width: 20%;
    height: 300px;
    align-self: center;
    align-content: center;
    z-index: 4;
    margin-right: -5%;
}
#send-msg p {
    text-align: center;
    margin-top: 5%;
    font-size: 2.5rem;
    color: #EAEFF3; 
}
#contact-me-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#contact-info {
    list-style: none;
    margin-right: 20px;
    margin-top: 25px;
}
#contact-info li {
    margin-bottom: 30px;
}
#contact-info-info {
    list-style: none;
    margin-top: 30px;
}
#contact-info-info li {
    margin-bottom: 48px;
    
}
#form-title {
    font-size: 3rem;
    margin-top: 20px;
}
#form-desc {
    margin-top: -20px;
    color: black;
}
#input-name {
    margin-top: 40px;
}
.input-config {
    font-family: 'Lalezar', cursive;
    width: auto;
    height: 40px;
    margin-bottom: 20px;
    color: black;
}
textarea {
    width: 100%;
    margin-bottom: 20px;
    font-family: 'Lalezar', cursive;
    color: black;
}
#submit {
    background-color: #E65C4F;
    border: none;
    font-family: 'Lalezar', cursive;
    font-size: 1.1rem;
}
#submit:hover {
    cursor: pointer;
    background-color: #EAEFF3;
    color: #E65C4F;
}
form {
    display: flex;
    flex-direction: column;
}



@media only screen and (max-width: 970px) {

    .project-grid {
        grid-template-columns: repeat( auto-fill, minmax(250px, 1fr) );
        grid-gap: 40px;
    }
    #nav {
        justify-content: center; 
    }
    .push {
        margin: auto;
    }
    #logo-text {
        display: none
    }
    #title {
        font-size: 5rem;
    }
    #logo-img {
        margin-left: 10px;
    }
    #about-me {
        flex-direction: column;
    }
    #bio p {
        font-size: 1rem;
    }
    #nav a {
        padding: 15px;
        font-size: 1.2rem;
    }
    #logo-img {
        display: none;
    }
    #bio {
        margin: 0px;
        margin-top: 50px;
        width: 90%;
        
    }
    #about-me img {
        width: 80%;
        height: auto;
        margin: auto;
    }
    .project-grid {
        margin-left: 15px;
        margin-right: 15px;
    }
    #projects-section h1 {
        font-size: 2.5rem;
    }
    #footer-content {
        height: 3vh;
    }
    #footer-content p {
        font-size: 1rem;
    }
    #contact-section {
        flex-direction: column;
    }
    #send-msg {
        display: none;
    }
    #contact-form {
        width: 50%;
    }
    #send-msg-desktop {
        display: block;
        margin-top: 
    }
    #contact-form {
        margin: 0;
        width: 92%;
    }
    #send-msg-desktop {
        width: 92%;
        margin: 0;
        margin-top: 5%;
        height: 400px;
    }
    #send-msg-desktop p {
        text-align: center;
        margin-top: 5%;
        font-size: 2rem;
        color: #EAEFF3; 
    }
    #submit {
        background-color: #E65C4F;
        border: none;
        font-family: 'Lalezar', cursive;
        font-size: 1.1rem;
}
